*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    /* Disables pull-to-refresh and overscroll glow effect.
     Still keeps swipe navigations. */
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}
